# Python virtual environment
venv_btl/

# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env 

# Cursor files
.cursorignore
.cursorrules
